div{
	/*属性名:属性值;*/
	font-size:50px;/*默认16px*/
	/*互联网一般用12/14px*/
	/*字体的高度，楷体宽高不同，仿宋宽高相同*/
/*	font-weight: bold;还可以取lighter,normal,bold,bolder，也可以用数字100/200/300~900*/
/*可能有些字体不支持bolder/lighter，换成雅黑可能可以支持*/
font-style:italic; /*斜体*/
font-family: arial; /*互联网常用字体，乔布斯发明*/
color: #f40; /*字体颜色，不是font-color*/

/*复合属性分开写*/
/* border:10px solid black;  *//*复合属性：border-width border-style bolder-color*/
/* border-width: 1px;
border-style: dotted; 还可以选dashed（条状虚线）
border-color: red;  */
width: 10px;
height: 10px;
border: 100px solid black;
border-left-color: transparent; /* 透明色 */
border-top-color: green;
border-right-color: #00f;
}

/*颜色表示方式：
1、土鳖式（纯英文单词），测试用，不准确，不推荐现网使用
2、颜色代码 （光学三原色：#rgb），常用
3、颜色函数：rgb(0~255,0~255,0~255)，不常用
*/

/*
r       g     b
00~ff 00~ff 00~ff（rgb饱和度值）
简写：
每两位重复的，只写一位：
#f40 和 #ff4400 相同（淘宝红，价格显示使用）
*/

/*strong html元素天生带font-weight:bold属性*/
strong{
	font-size: 50px;
}

