.box1{
	background-color: red;
	margin-right: 10px;
}
.box2{
	margin-left: 100px;
    background-color: green;
}

.demo1{
	background-color: red;
	margin-bottom: 100px;
}
.demo1{
	background-color: green;
	margin-bottom: 200px;
}