*{
	margin:0;
	padding: 0;
}

/*a{
	display: inline-block; 默认为inline
	text-decoration: none;
	color: #424242;
	width: 190px;
	height: 90px;
	border: 1px solid black;
	background-image: url(https://img.alicdn.com/tfs/TB1_uT8a5ERMeJjSspiXXbZLFXa-143-59.png);
	background-size: 190px 90px;（背景图片大小和a标签大小一致）
}*/
